BCPS_flows.json
[{"id":"acf09575.a351c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ffcdb585.815968","type":"function","z":"acf09575.a351c8","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"radius_mean\",msg.payload.radius_mean)\nglobal.set(\"texture_mean\",msg.payload.texture_mean)\nglobal.set(\"perimeter_mean\",msg.payload.perimeter_mean)\nglobal.set(\"area_mean\",msg.payload.area_mean)\nglobal.set(\"smoothness_mean\",msg.payload.smoothness_mean)\nglobal.set(\"compactness_mean\",msg.payload.compactness_mean)\nglobal.set(\"concavity_mean\",msg.payload.concavity_mean)\nglobal.set(\"concavepoints_mean\",msg.payload.concavepoints_mean)\nglobal.set(\"symmetry_mean\",msg.payload.symmetry_mean)\nglobal.set(\"fractal_dimension_mean\",msg.payload.fractal_dimension_mean)\nglobal.set(\"radius_se\",msg.payload.radius_se)\nglobal.set(\"texture_se\",msg.payload.texture_se)\nglobal.set(\"perimeter_se\",msg.payload.perimeter_se)\nglobal.set(\"area_se\",msg.payload.area_se)\nglobal.set(\"smoothness_se\",msg.payload.smoothness_se)\nglobal.set(\"compactness_se\",msg.payload.compactness_se)\nglobal.set(\"concavity_se\",msg.payload.concavity_se)\nglobal.set(\"concavepoints_se\",msg.payload.concavepoints_se)\nglobal.set(\"symmetry_se\",msg.payload.symmetry_se)\nglobal.set(\"fractal_dimension_se\",msg.payload.fractal_dimension_se)\nglobal.set(\"radius_worst\",msg.payload.radius_worst)\nglobal.set(\"texture_worst\",msg.payload.texture_worst)\nglobal.set(\"perimeter_worst\",msg.payload.perimeter_worst)\nglobal.set(\"area_worst\",msg.payload.area_worst)\nglobal.set(\"smoothness_worst\",msg.payload.smoothness_worst)\nglobal.set(\"compactness_worst\",msg.payload.compactness_worst)\nglobal.set(\"concavity_worst\",msg.payload.concavity_worst)\nglobal.set(\"concavepoints_worst\",msg.payload.concavepoints_worst)\nglobal.set(\"symmetry_worst\",msg.payload.symmetry_worst)\nglobal.set(\"fractal_dimension_worst\",msg.payload.fractal_dimension_worst)\nvar apikey=\"Cy_slSDmA0TVGsmbyrMdUz5I8q_bH9o62KNUGpfsd_kK\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":440,"wires":[["b7a34aa3.ae3ad8"]]},{"id":"b7a34aa3.ae3ad8","type":"http request","z":"acf09575.a351c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":428.9999952316284,"wires":[["c6e67d86.f601c"]]},{"id":"b21b41f5.391a5","type":"debug","z":"acf09575.a351c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":918.0000114440918,"y":170.99999713897705,"wires":[]},{"id":"c6e67d86.f601c","type":"function","z":"acf09575.a351c8","name":"Pre Prediction","func":"var id=global.get(\"id\")\nvar  radius_mean=global.get(\"radius_mean\")\nvar  texture_mean=global.get(\"texture_mean\")\nvar  perimeter_mean =global.get(\"perimeter_mean\")\nvar  area_mean =global.get(\"area_mean\")\nvar  smoothness_mean =global.get(\"smoothness_mean\")\nvar  compactness_mean =global.get(\"compactness_mean\")\nvar  concavity_mean =global.get(\"concavity_mean\")\nvar  concavepoints_mean =global.get(\"concavepoints_mean\")\nvar  symmetry_mean =global.get(\"symmetry_mean\")\nvar  fractal_dimension_mean =global.get(\"fractal_dimension_mean\")\nvar  radius_se =global.get(\"radius_se\")\nvar  texture_se =global.get(\"texture_se\")\nvar  perimeter_se =global.get(\"perimeter_se\")\nvar  area_se =global.get(\"area_se\")\nvar  smoothness_se =global.get(\"smoothness_se\")\nvar  compactness_se =global.get(\"compactness_se\")\nvar  concavity_se =global.get(\"concavity_se\")\nvar  concavepoints_se =global.get(\"concavepoints_se\")\nvar symmetry_se =global.get(\"symmetry_se\")\nvar  fractal_dimension_se =global.get(\"fractal_dimension_se\")\nvar  radius_worst =global.get(\"radius_worst\")\nvar texture_worst =global.get(\"texture_worst\")\nvar  perimeter_worst =global.get(\"perimeter_worst\")\nvar  area_worst =global.get(\"area_worst\")\nvar  smoothness_worst =global.get(\"smoothness_worst\")\nvar  compactness_worst =global.get(\"compactness_worst\")\nvar concavity_worst =global.get(\"concavity_worst\")\nvar  concavepoints_worst =global.get(\"concavepoints_worst\")\nvar  symmetry_worst =global.get(\"symmetry_worst\")\nvar  fractal_dimension_worst =global.get(\"fractal_dimension_worst\")\nvar token=msg.payload.access_token\nvar instance_id=\"Cy_slSDmA0TVGsmbyrMdUz5I8q_bH9o62KNUGpfsd_kK\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"id\",\"radius_mean\",\"texture_mean\",\"perimeter_mean\",\"area_mean\",\"smoothness_mean\",\"compactness_mean\",\"\tconcavity_mean\",\"concavepoints_mean\",\"symmetry_mean\",\"fractal_dimension_mean\",\"radius_se\",\"\ttexture_se\",\"perimeter_se\",\"area_se\",\"smoothness_se\",\"compactness_se\",\"concavity_se\",\"concavepoints_se\",\"\tsymmetry_se\",\"fractal_dimension_se\",\"radius_worst\",\"\ttexture_worst\",\"perimeter_worst\",\"area_worst\",\"smoothness_worst\",\"compactness_worst\",\"concavity_worst\",\"concavepoints_worst\",\"symmetry_worst\",\"fractal_dimension_worst\"], \"values\": [[id,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concavepoints_mean,symmetry_mean,fractal_dimension_mean,radius_se,texture_se,perimeter_se,area_se,smoothness_se,compactness_se,concavity_se,concavepoints_se,symmetry_se,fractal_dimension_se,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concavepoints_worst,symmetry_worst,fractal_dimension_worst]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":676.0000076293945,"y":391.9999990463257,"wires":[["6b16a840.6c4558"]]},{"id":"6b16a840.6c4558","type":"http request","z":"acf09575.a351c8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/3a03dc0d-d497-4f42-a088-6851aad7cd4d/predictions","tls":"","persist":false,"proxy":"","authType":"","x":769.5000076293945,"y":335.9999990463257,"wires":[["1b4bbb66.100975","b21b41f5.391a5"]]},{"id":"ef895a85.042a58","type":"ui_form","z":"acf09575.a351c8","name":"","label":"Enter the Following Values","group":"49ce5f0d.3b574","order":1,"width":0,"height":0,"options":[{"label":"Enter ID","value":"id","type":"number","required":true,"rows":null},{"label":"Radius Mean","value":"radius_mean","type":"number","required":true,"rows":null},{"label":"Texture Mean","value":"texture_mean","type":"number","required":true,"rows":null},{"label":"Perimeter Mean","value":"perimeter_mean","type":"number","required":true,"rows":null},{"label":"Area Mean","value":"area_mean","type":"number","required":true,"rows":null},{"label":"Smoothness Mean","value":"smoothness_mean","type":"number","required":true,"rows":null},{"label":"Compactness Mean","value":"compactness_mean","type":"number","required":true,"rows":null},{"label":"Concavity Mean","value":"concavity_mean","type":"number","required":true,"rows":null},{"label":"Concave Points Mean","value":"concavepoints_mean","type":"number","required":true,"rows":null},{"label":"Symmetry Mean","value":"symmetry_mean","type":"number","required":true,"rows":null},{"label":"Fractal Dimension Mean","value":"fractal_dimension_mean","type":"number","required":true,"rows":null},{"label":"Radius SE","value":"radius_se","type":"number","required":true,"rows":null},{"label":"Texture SE","value":"texture_se","type":"number","required":true,"rows":null},{"label":"Perimeter SE","value":"perimeter_se","type":"number","required":true,"rows":null},{"label":"Area SE","value":"area_se","type":"number","required":true,"rows":null},{"label":"Smoothness SE","value":"smoothness_se","type":"number","required":true,"rows":null},{"label":"Compactness SE","value":"compactness_se","type":"number","required":true,"rows":null},{"label":"Concavity SE","value":"concavity_se","type":"number","required":true,"rows":null},{"label":"Concave Point SE","value":"concavepoints_se","type":"number","required":true,"rows":null},{"label":"Symmetry SE","value":"symmetry_se","type":"number","required":true,"rows":null},{"label":"Fractal Dimension SE","value":"ractal_dimension_se","type":"number","required":true,"rows":null},{"label":"Radius Worst","value":"radius_worst","type":"number","required":true,"rows":null},{"label":"Texture Worst","value":"texture_worst","type":"number","required":true,"rows":null},{"label":"Perimeter Worst","value":"perimeter_worst","type":"number","required":true,"rows":null},{"label":"Area Worst","value":"area_worst","type":"number","required":true,"rows":null},{"label":"Smoothness Worst","value":"smoothness_worst","type":"number","required":true,"rows":null},{"label":"Compactness Worst","value":"compactness_worst","type":"number","required":true,"rows":null},{"label":"Concavity Worst","value":"concavity_worst","type":"number","required":true,"rows":null},{"label":"Concave points Worst","value":"concavepoints_worst","type":"number","required":true,"rows":null},{"label":"Symmetry Worst","value":"symmetry_worst","type":"number","required":true,"rows":null},{"label":"Fractal Dimension Worst","value":"fractal_dimension_worst","type":"number","required":true,"rows":null}],"formValue":{"id":"","radius_mean":"","texture_mean":"","perimeter_mean":"","area_mean":"","smoothness_mean":"","compactness_mean":"","concavity_mean":"","concavepoints_mean":"","symmetry_mean":"","fractal_dimension_mean":"","radius_se":"","texture_se":"","perimeter_se":"","area_se":"","smoothness_se":"","compactness_se":"","concavity_se":"","concavepoints_se":"","symmetry_se":"","ractal_dimension_se":"","radius_worst":"","texture_worst":"","perimeter_worst":"","area_worst":"","smoothness_worst":"","compactness_worst":"","concavity_worst":"","concavepoints_worst":"","symmetry_worst":"","fractal_dimension_worst":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":141,"y":482.9999952316284,"wires":[["ffcdb585.815968"]]},{"id":"46571f86.4b077","type":"ui_text","z":"acf09575.a351c8","group":"49ce5f0d.3b574","order":2,"width":0,"height":0,"name":"","label":"Class","format":"{{msg.payload}}","layout":"row-spread","x":797.6000366210938,"y":488.20000743865967,"wires":[]},{"id":"1b4bbb66.100975","type":"function","z":"acf09575.a351c8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":629.6000366210938,"y":231.60000133514404,"wires":[["46571f86.4b077"]]},{"id":"49ce5f0d.3b574","type":"ui_group","z":"","name":"Breast Cancer Prediction System","tab":"3d63dce.cd34324","order":1,"disp":true,"width":"15","collapse":false},{"id":"3d63dce.cd34324","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]